<%= form_for @booking do |f| %>
  <h2 class="white-and-bordered">
  	<%= @flight.name + " - " + @flight.from_airport.name + " to " + @flight.to_airport.name + " on " %>  
  	<%= @flight.date.strftime("%B %e, %Y at %T") %>
  </h2>
  <%= f.hidden_field :flight_id %>
  
  <% passengerNumber = 1 %>  
  <%= f.fields_for :passengers do |passenger_form| %>
		
    <h3><%= "Data for Passenger #{passengerNumber}"%></h3>   		
    <div class="white-and-bordered">         			
	  <%= passenger_form.label :name %>
	  <%= passenger_form.text_field :name %>
	  <%= passenger_form.label :email %>
	  <%= passenger_form.text_field :email %>
	</div>
	<% passengerNumber += 1 %>
		
  <% end %>
  <div class="text-center">
    <%= submit_tag("Book Flight", class: "btn btn-primary")%>
  </div>
<% end %>