<h1>Bookings#new</h1>

<%= form_for @booking do |f| %>
  <%= @flight.from_airport.name %>
  <%= @flight.to_airport.name %>
  <%= @flight.date %>
  <%= @flight.duration %>
  
  
    <%= f.fields_for :passengers do |passenger| %> 
      <%= passenger.hidden_field :id %>    
      <%= passenger.text_field :name %>
      <%= passenger.text_field :email %>
    <% end %>
  
  
  <%= submit_tag("Book Flight")%>
<% end %>

